/* RESET RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.container {
  width: 70%;
  margin: 0 auto;
}

/* HEADER */

header {
  /* debug */
  background-color: #add8e6;
}

header .wrapper {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.header-left,
.header-center,
.header-right {
  /* debug */
  padding: 10px;
  font-size: 1.5rem;

  /* debug */
  background-color: #daa520;
  border: 2px dashed black;
}

.header-left,
.header-right {
  flex-basis: 20%;
}

.header-center {
  flex-basis: 60%;
  text-align: center;
}

.header-right {
  text-align: right;
}

/* SECTIONS */

section {
  background-color: #d3d3d3;
  padding: 50px 0;
}

section:nth-child(2n + 2) {
  /* debug */
  background-color: #ffffff;
}

/* EXTERNAL SECTION */

section:first-of-type .wrapper,
section:last-of-type .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section:first-of-type {
  border-bottom: 5px solid #abd7e6;

  /* debug */
  background-color: #00008b;
}

section:first-of-type .section-content {
  width: 80%;

  /* debug */
  height: 500px;
  background-color: #ee82ee;
  border: 3px dashed black;
}

section:last-of-type {
  /* debug */
  background-color: #d3d3d3;
}

section:last-of-type .section-content {
  width: 100%;

  /* debug */
  height: 900px;
  background-color: #228b22;
  border: 3px dashed black;
}

/* CENTRAL SECTIONS */

section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .section-content-right {
  width: 70%;

  /* debug */
  border: 3px dashed black;
  height: 700px;
  background-color: #1e90ff;
}

section .section-content-left {
  width: 30%;

  /* debug */
  border: 3px dashed black;
  height: 700px;
  background-color: #ffc0cb;
}

section:nth-child(2n + 1) .wrapper {
  flex-direction: row-reverse;
}

/* FOOTER */

footer {
  background-color: #23272a;
}

footer .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

footer .footer-content-right {
  width: 30%;

  /* debug */
  border: 3px dashed black;
  height: 700px;
  background-color: #f08080;
}

footer .footer-content-left {
  display: flex;
  width: 70%;

  /* debug */
  border: 3px dashed black;
  height: 700px;
}

.footer-content-left > [id*="fl"] {
  width: 25%;

  /* debug */
  background-color: #20b2aa;
  border: 3px dashed white;
}

footer hr {
  border: 1px solid white;
  margin: 30px 0 40px 0;
}

.footer-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* debug */
  background-color: #7fffd4;
  min-height: 100px;
}

.footer-aside div {
  /* debug */
  background-color: #ffb6c1;
  padding: 10px 20px;
  border: 3px dashed black;
}
