/* RESET RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header {
  /* DEBUG */
  background-color: #add8e6;
}

header .wrapper {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.header-left,
.header-center,
.header-right {
  padding: 10px;
  font-size: 1.5rem;

  /* DEBUG */
  background-color: #daa520;
  border: 2px dashed black;
}

.header-left,
.header-right {
  flex-basis: 20%;
}

.header-center {
  flex-basis: 60%;
  text-align: center;
}

.header-right {
  text-align: right;
}

/* SECTIONS */

section {
  background-color: #d3d3d3;

  /* DEBUG */
  min-height: 500px;
}

section:nth-child(2n + 2) {
  /* DEBUG */
  background-color: #ffffff;
}

/* FIRST SECTION */

section:first-child {
  border-bottom: 5px solid #abd7e6;

  /* DEBUG */
  background-color: #00008b;
}

section:first-child .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
}

section:first-child .section-content {
  /* DEBUG */
  border: 3px dashed black;
  height: 80%;
  width: 60%;
  background-color: #ee82ee;
}

/* CENTRAL SECTIONS */

section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .section-content-right {
  /* DEBUG */
  border: 3px dashed black;
  height: 700px;
  width: 70%;
  background-color: #1e90ff;
}

section .section-content-left {
  /* DEBUG */
  border: 3px dashed black;
  height: 700px;
  width: 30%;
  background-color: #ffc0cb;
}

section:nth-child(2n + 1) .wrapper {
  flex-direction: row-reverse;
}
